 
<!-- video-cetriblk block -->

<div class="video-cetriblk">
	<div class="sap-blk">
		<div class="container">
			<div class="inner">
                <div class="breadcumb-blk">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">{{'Home' | translate}}</a>
                        </li>
                        <li>
                            <a href="#">{{'Business Intelligence' | translate}}</a>
                        </li>
                        <li class="active">
                            <a href="#">SAP Certifications</a>
                        </li>
                    </ul>
                </div>
				<h3>
                    SAP Certification Online traning guide & Official Certification 
                </h3>
				<p>
                Our SAP HANA certification training course lets you master SAP HANA. We provide the best
                online classes to help you learn in-memory database,HANA Studio, Modeling, real time analytics. Work on real world projects.
                </p>
				<p>
                    <strong>Created by</strong>
					<a href="#">Bradly J. Boner</a>
					<span class="update-txt">Last updated 8/2016</span>
				</p>
				<ul class="rating-list clearfix">
					<li>
						<div class="clearfix">
							<div class="rating-star">
								<a href="#">
									<i class="mdi-18px mdi mdi-star" aria-hidden="true"></i>
								</a>
								<a href="#">
									<i class="mdi-18px mdi mdi-star" aria-hidden="true"></i>
								</a>
								<a href="#">
									<i class="mdi-18px mdi mdi-star" aria-hidden="true"></i>
								</a>
								<a href="#">
									<i class="mdi-18px mdi mdi-star" aria-hidden="true"></i>
								</a>
								<a href="#">
									<i class="mdi-18px mdi mdi-star" aria-hidden="true"></i>
								</a>
							</div>
							<div class="rating-txt">
                                4.4 (164 ratings)
                            </div>
						</div>
					</li>
					<li>
						<div class="share-txt">
                            <a href="#" title="share" class="link-share"> share: </a>
                            <ul class="list-inline">
                                <li>
                                    <a href="#">
                                        <i class="mdi-18px mdi mdi-twitter" aria-hidden="true"></i>
                                    </a>
                                <li>
                                    <a href="#">
                                        <i class="mdi-18px mdi mdi-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="mdi-18px mdi mdi-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>    
                        </div>
					</li>
				</ul>
				<ul class="list-inline list-video">
					<li>
						<a href="#" title="Likes">
                                <span class="sap-img"></span> 
                                <span class="likes-txt">3,283 likes</span>  
							</a>
						</li>
						<li>
							<a href="#" title="Students">
                                <span class="sap-img"></span>
                                <span class="likes-txt">35,937 students enrolled</span>
                            
								</a>
							</li>
							<li>
								<a href="#" title="Add-wishlist">
                                        <span class="sap-img"></span>
                                        <span class="likes-txt">Add to wishlist</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="video-based">
                    <ul class="list-unstyled based-list">
                        <li>
                            <div class="media">
                                <a href="#" class="float-left video-icon">
                                   <img src="assets/img/video-icon.png" alt="[Image: Video-Icon]" title="Video-Icon" class="img-fluid">
                                </a>
                                <div class="media-body">
                                    <div class="float-left video-txt">
                                        <div class="media-heading">
                                            video based 24/7 on demand training
                                        </div>
                                        <p class="">lifetime access and 24/7 support</p>
                                   </div> 
                                   <div class="float-right">
                                       <div class="enroll-blk">
                                            <div class="price-txt">$ 345.23</div>
                                            <a href="#" title="" class="btn btn-success">enroll now</a> 
                                       </div> 
                                  </div>
                                </div>   
                            </div>    
                        </li>
                       <li>
                            <div class="media">
                                <a href="#" class="float-left">
                                   <img src="assets/img/instructor-led.png" alt="[Image: Video-Icon]" title="Video-Icon" class="img-fluid">
                                </a>
                                <div class="media-body">
                                    <div class="media-heading">
                                        Instructor-Led live online training
                                    </div>
                                   <div class="calender clearfix">
                                       <div class="caldr-inner">
                                           <div class="calder-blk">
                                               <div class="date">25</div>
                                               <div class="month">mar</div>
                                            </div>
                                            <div class="calder-content">
                                                <h4>sat, sun (2 weeks)</h4>
                                                <p>8:00 PM - 11:30 PM IST (GMT +5:30) </p>
                                            </div>       
                                        </div>
                                        <div class="float-right">
                                            <div class="enroll-blk">
                                                <div class="price-txt">$ 345.23</div>
                                                <a href="#" title="" class="btn btn-success">enroll now</a>
                                            </div> 
                                         </div>      
                                   </div>
                                   <div class="calender clearfix">
                                       <div class="caldr-inner">
                                           <div class="calder-blk">
                                               <div class="date">25</div>
                                               <div class="month">mar</div>
                                            </div>
                                            <div class="calder-content">
                                                <h4>sat, sun (2 weeks)</h4>
                                                <p>8:00 PM - 11:30 PM IST (GMT +5:30) </p>
                                            </div>       
                                        </div>
                                        <div class="float-right">
                                             <div class="enroll-blk">
                                                <div class="price-txt">$ 345.23</div>
                                                <a href="#" title="" class="btn btn-success">enroll now</a> 
                                            </div>
                                         </div>      
                                   </div>
                                   <div class="text-center">
                                       <a href="#" class="text-traning">more...</a>
                                    </div>   
                            </div>
                            </div>    
                        </li>
                         <li>
                            <div class="media">
                                <a href="#" class="float-left">
                                   <img src="assets/img/teaching-skills.png" alt="[Image: Teaching-skills]" title="Teaching-skills" class="img-fluid">
                                </a>
                                <div class="media-body">
                                    <div class="clearfix">
                                        <div class="float-left">
                                            <div class="media-heading">
                                                instructor - led live onsite training
                                            </div>
                                    </div> 
                                    <div class="float-right">
                                        <ul class="list-inline">
                                            <li class="price-txt">$ 345.23</li>
                                            <li>
                                                <a href="#" title="enroll now" class="btn btn-success">enroll now</a>
                                            </li> 
                                        </ul>  
                                    </div>
                                  </div>
                                  <ul class="list-unstyled info-list clearfix">
                                      <li>
                                        <i class="mdi-18px mdi mdi-earth fa-fw" aria-hidden="true"></i> 
                                            <span>united states of america</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker  fa-fw" aria-hidden="true"></i> 
                                           classroom: <span class="text-primary">Houston (MIC)</span>
                                    </li>
                                      <li>
                                          <i class="fa fa-calendar  fa-fw" aria-hidden="true"></i> 
                                            <span> 27 Mar 2017 - 31 Mar 2017 </span>
                                          </li>
                                      <li>
                                          <i class="mdi-18px mdi mdi-clock-outline  fa-fw" aria-hidden="true"></i> 
                                          <span class="text-primary">Class times</span>
                                      </li>
                                      <li>
                                          <i class="mdi-18px mdi mdi-check  fa-fw" aria-hidden="true"></i>
                                          <span> Guaranted to run </span>
                                      </li>
                                      <li>
                                          <i class="fa fa-language  fa-fw" aria-hidden="true"></i> 
                                            <span>English</span> 
                                      </li>
                                   </ul>
                                </div>   
                            </div>    
                        </li>
                    </ul>
                    <div class="custom-training">
                        <div class="media">
                           <a href="#" title="" class="float-left user-traning">
                               <img src="assets/img/your-team.png" alt="[Image: Your-team]" title="Your-team">
                           </a>
                           <div class="media-body">
                               <div class="media-heading">
                                    need custom training for your team?
                               </div>
                               <a href="#" title=" Get quote">
                                   Get quote 
                                   <i class="mdi-18px mdi mdi-chevron-double-right" aria-hidden="true"></i>
                                </a>
                           </div>        
                         </div>   
                    </div>       
                </div>
                <div class="training-video">
                    <div class="container">
                        <div class="training-inner">
                                <img src="assets/img/video.jpg" class="img-fluid center-block">
                        </div>
                    </div>
                </div>
              </div>  

                <!-- video-cetriblk block -->




<!-- Tabs block -->

<section class="course-tab">
    <div class="course-list-tab">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#about-course" title="About Course" data-toggle="tab">About Course</a></li>
                <li><a href="#course-feature" title="Course Features" data-toggle="tab">Course Features</a></li>
                <li><a href="#" title="Curriculum">Curriculum</a></li>
                <li><a href="#" title="Projects">Projects</a></li>
                <li><a href="#" title="Instructor">Instructor</a></li>
                <li><a href="#" title="FAQs">FAQs</a></li>
                <li><a href="#" title="Certification">Certification</a></li>
                <li><a href="#" title="Reviews">Reviews</a></li>                
            </ul>  
            <div class="navbar-right text-center">
                <a href="#" title="Enroll Now" class="btn btn-success">Enroll Now</a>  
            </div>          
        </div>
    </div>
    <div class="container">
         <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="about-course">
                <div class="row">
                    <!-- left block -->
                    <div class="col-sm-8">
                        <div class="clearfix left-block">
                            <!-- first collapse -->
                            <div class="clearfix certificate-ourse">
                                <div class="border-bottom clearfix">
                                    <h4>About SAP Certification Course</h4>
                                    <div class="float-right">
                                        <a class="collapse-circle" data-toggle="collapse" href="#collapseExample">
                                            <i class="mdi-18px mdi mdi-minus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="collapse" id="collapseExample">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pretium magna, mattis mattis libero. Morbi neque augue, luctus sed lorem cursus, accumsan euismod eros. Suspendisse vitae justo non nunc semper venenatis.Morbi neque augue, luctus sed lorem cursus, accumsan euismod eros. Suspendisse vitae justo non nunc semper venenatis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pretium magna, mattis mattis libero. Morbi neque augue, luctus sed lorem cursus, accumsan euismod eros. Suspendisse vitae justo non nunc semper venenati</p>
                                    <h5>What lorem ipsum dolor sit amet, consectetur adipiscing elit?</h5>
                                    <ul class="list-unstyled">
                                        <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                        <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                        <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                        <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                        <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    </ul>
                                    <h5>What lorem ipsum dolor sit amet, consectetur adipiscing elit?</h5>
                                    <ul class="list-unstyled">
                                        <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                        <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pretium magna, mattis mattis libero. Morbi neque augue, luctus sed lorem cursus, accumsan euismod eros. Suspendisse vitae justo non nunc semper venenatis.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pretium magna, mattis mattis libero. Morbi neque augue, luctus sed lorem cursus, accumsan euismod eros. Suspendisse vitae justo non nunc semper venenatis.</p>
                                </div>
                            </div>

                            <!-- second collapse -->
                            <div class="clearfix">
                                <div class="border-bottom clearfix">
                                    <h4>Course Features</h4>
                                    <div class="float-right">
                                        <a class="collapse-circle" data-toggle="collapse" href="#collapseExample1">
                                            <i class="mdi-18px mdi mdi-minus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="collapse" id="collapseExample1">
                                    <div class="course-features">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="media">
                                                <div class="float-left">
                                                    <img src="assets/img/professional.png" alt="[Image: professional]" title="professional">
                                                </div>
                                                <div class="media-body">
                                                    <h5>Lorem ipsum dolor sit amet</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pretium magna, mattis mattis libero. Morbi neque augue, luctus sed lorem cursus, accumsan euismod eros. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="media">
                                                <div class="float-left">
                                                    <img src="assets/img/professional.png" alt="[Image: professional]" title="professional">
                                                </div>
                                                <div class="media-body">
                                                    <h5>Lorem ipsum dolor sit amet</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pretium magna, mattis mattis libero. Morbi neque augue, luctus sed lorem cursus, accumsan euismod eros. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="media">
                                                <div class="float-left">
                                                    <img src="assets/img/professional.png" alt="[Image: professional]" title="professional">
                                                </div>
                                                <div class="media-body">
                                                    <h5>Lorem ipsum dolor sit amet</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pretium magna, mattis mattis libero. Morbi neque augue, luctus sed lorem cursus, accumsan euismod eros. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="media">
                                                <div class="float-left">
                                                    <img src="assets/img/professional.png" alt="[Image: professional]" title="professional">
                                                </div>
                                                <div class="media-body">
                                                    <h5>Lorem ipsum dolor sit amet</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac pretium magna, mattis mattis libero. Morbi neque augue, luctus sed lorem cursus, accumsan euismod eros. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <!-- Third collapse -->
                            <div class="clearfix curriculum">
                                <div class="border-bottom clearfix">
                                    <h4>Curriculum</h4>
                                    <div class="float-right">
                                        <a class="collapse-circle" data-toggle="collapse" href="#collapseExample2">
                                            <i class="mdi-18px mdi mdi-minus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="collapse" id="collapseExample2">
                                    <div class="clearfix">
                                        <h5>Introduction</h5>
                                         <ul class="list-unstyled">
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                        </ul>
                                    </div>
                                    <div class="clearfix">
                                        <h5>Simple storage service</h5>
                                         <ul class="list-unstyled">
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>                                            
                                        </ul>
                                    </div>
                                    <div class="clearfix">
                                        <h5>Elastic computer cloud</h5>
                                         <ul class="list-unstyled">
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>                                            
                                        </ul>
                                    </div>
                                    <div class="clearfix">
                                        <h5>DevOps</h5>
                                         <ul class="list-unstyled">
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                            <li><i class="mdi-18px mdi mdi-chevron-right fa-fw"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Fourth collapse certificate -->
                            <div class="clearfix certificate">
                                <div class="border-bottom clearfix">
                                    <h4>Certificate</h4>
                                    <div class="float-right">
                                        <a class="collapse-circle" data-toggle="collapse" href="#collapseExample3">
                                            <i class="mdi-18px mdi mdi-minus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="collapse" id="collapseExample3">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-circle fa-fw bluec"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                        <li><i class="fa fa-circle fa-fw bluec"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                                        <li><i class="fa fa-circle fa-fw bluec"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>                                        
                                    </ul>
                                </div>
                            </div>

                            <!-- Fourth collapse Reviews -->
                            <div class="clearfix reviews">
                                <div class="border-bottom clearfix">
                                    <h4>Reviews</h4>
                                    <div class="float-right">
                                        <a class="collapse-circle" data-toggle="collapse" href="#collapseExample4">
                                            <i class="mdi-18px mdi mdi-minus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="collapse" id="collapseExample4">
                                    <div class="clearfix">
                                        <div class="rating-points bluec">4.2</div>
                                   </div>
                                    <div class="ratings-blk">
                                        <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                        <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                        <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                        <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                        <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                    </div>
                                    <p class="view-ratings">164 ratings</p>
                                    <div class="ratings-block">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="media">
                                                    <div class="float-left">
                                                        <a href="#" title="avatar" class="avatar">
                                                            <img src="assets/img/avatar.png" alt="[Image: Avatar]" class="center-block">
                                                            <div class="user-icon linkedin">
                                                                <span class="fa-stack fa-lg">
                                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                                    <i class="mdi-18px mdi mdi-linkedin fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </div>
                                                        </a>
                                                        <div class="ratings-blk">
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h5 class="bluec">Sai Manoj A</h5>
                                                        <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media">
                                                    <div class="float-left">
                                                        <a href="#" title="avatar" class="avatar">
                                                            <img src="assets/img/avatar.png" alt="[Image: Avatar]" class="center-block">
                                                            <div class="user-icon facebook">
                                                                <span class="fa-stack fa-lg">
                                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                                    <i class="mdi-18px mdi mdi-facebook fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </div>
                                                        </a>
                                                        <div class="ratings-blk">
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h5 class="bluec">Sai Manoj A</h5>
                                                        <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media">
                                                    <div class="float-left">
                                                        <a href="#" title="avatar" class="avatar">
                                                            <img src="assets/img/avatar.png" alt="[Image: Avatar]" class="center-block">
                                                            <div class="user-icon twitter">
                                                                <span class="fa-stack fa-lg">
                                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                                    <i class="mdi-18px mdi mdi-twitter fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </div>
                                                        </a>
                                                        <div class="ratings-blk">
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h5 class="bluec">Sai Manoj A</h5>
                                                        <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media">
                                                    <div class="float-left">
                                                        <a href="#" title="avatar" class="avatar">
                                                            <img src="assets/img/avatar.png" alt="[Image: Avatar]" class="center-block">
                                                            <div class="user-icon pinterest">
                                                                <span class="fa-stack fa-lg">
                                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                                    <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            </div>
                                                        </a>
                                                        <div class="ratings-blk">
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                            <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h5 class="bluec">Sai Manoj A</h5>
                                                        <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="text-center">
                                            <a href="#" title="view more" class="btn btn-outline-secondary">+ View More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- More from Recommend Courses -->
                            <div class="clearfix recommend-courses">  
                                <h4 class="bluec float-none">More from Recommend Courses</h4>                              
                                <div class="recommend-bg">                                    
                                        <div class="row">                                        
                                            <div class="col-sm-4 inner-bg">                                           
                                                <a href="#" title="web-design"><img src="assets/img/web-design.jpg" alt="[Image: web-design]" title="web-design" class="center-block img-fluid"></a>
                                                <div class="card-body">                                               
                                                    <a href="#" class="txt-fundmetals">User Experience Fundamentals for Web Design</a>
                                                    <p class="text-12">by Chris Nodder</p>
                                                    <div class="enroll-txt">
                                                        <a href="#" title="35,937 viewers" class="blackc">35,937 viewers</a>
                                                    </div>
                                                    <div class="clearfix">
                                                            <div class="float-left">
                                                                <div class="ratings-blk">
                                                                    <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                                    <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                                    <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                                    <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                                    <a href="#" class="grey-ratings"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>   
                                                            <div class="float-right">
                                                                <div class="txt-dollar text-danger">
                                                                    $15
                                                                </div>
                                                        </div>   
                                                        </div>     
                                                    </div> 
                                                </div>                                            
                                            <div class="col-sm-4">                                            
                                                <a href="#" title="web-design"><img src="assets/img/web-design.jpg" alt="[Image: web-design]" title="web-design" class="center-block img-fluid"></a>
                                                <div class="card-body">                                              
                                                    <a href="#" class="txt-fundmetals">User Experience Fundamentals for Web Design</a>
                                                    <p class="text-12">by Chris Nodder</p>
                                                    <div class="enroll-txt">
                                                        <a href="#" title="35,937 viewers" class="blackc">35,937 viewers</a>
                                                    </div>
                                                    <div class="clearfix">
                                                            <div class="float-left">
                                                                <div class="ratings-blk">
                                                                    <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                                    <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                                    <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                                    <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                                    <a href="#" class="grey-ratings"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>   
                                                            <div class="float-right">
                                                                <div class="txt-dollar text-danger">
                                                                    $15
                                                                </div>
                                                            </div>   
                                                        </div> 
                                                    </div> 
                                                </div>
                                            <div class="col-sm-4">                                          
                                                <a href="#" title="web-design"><img src="assets/img/web-design.jpg" alt="[Image: web-design]" title="web-design" class="center-block img-fluid"></a>
                                                <div class="card-body">                                              
                                                    <a href="#" class="txt-fundmetals">User Experience Fundamentals for Web Design</a>
                                                    <p class="text-12">by Chris Nodder</p>
                                                    <div class="enroll-txt">
                                                        <a href="#" title="35,937 viewers" class="blackc">35,937 viewers</a>
                                                    </div>
                                                    <div class="clearfix">
                                                            <div class="float-left">
                                                                <div class="ratings-blk">
                                                                    <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                                    <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                                    <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                                    <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                                    <a href="#" class="grey-ratings"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>   
                                                            <div class="float-right">
                                                                <div class="txt-dollar text-danger">
                                                                    $15
                                                                </div>
                                                            </div>   
                                                        </div> 
                                                </div>                                              
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- right block -->
                    <div class="col-sm-4">
                        <div class="right-side">
                            <h4 class="border-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing</h4>
                            <div class="panel">
                                <a href="#" title="web-design"><img src="assets/img/web-design.jpg" alt="[Image: web-design]" title="web-design" class="center-block img-fluid"></a>
                                <div class="card-body">
                                    <p class="txt-course">Course</p>
                                    <a href="#" class="txt-fundmetals">User Experience Fundamentals for Web Design</a>
                                    <p class="text-12">by Chris Nodder</p>
                                    <div class="enroll-txt">
                                        <a href="#" title="35,937 viewers" class="blackc text-12">35,937 viewers</a>
                                        <span class="float-right text-b text-danger">$15</span>
                                    </div>
                                    <div class="ratings-blk">
                                        <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                        <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                        <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                        <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                        <a href="#" class="grey-ratings"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>  
                            </div>
                            <div class="panel">
                                <a href="#" title="web-design"><img src="assets/img/python1.jpg" alt="[Image: web-design]" title="web-design" class="center-block img-fluid"></a>
                                <div class="card-body">
                                    <p class="txt-course">Course</p>
                                    <a href="#" class="txt-fundmetals">User Experience Fundamentals for Web Design</a>
                                    <p class="text-12">by Chris Nodder</p>
                                    <div class="enroll-txt">
                                        <a href="#" title="35,937 viewers" class="blackc text-12">35,937 viewers</a>
                                        <span class="float-right text-b text-danger">$15</span>
                                    </div>
                                    <div class="ratings-blk">
                                        <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                        <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                        <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                        <a href="#"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                        <a href="#" class="grey-ratings"><i class="mdi-18px mdi mdi-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="course-feature">dfgfgfhfgh</div>
        </div>
    </div>
</section>  