<div class="modal-login underconstruction" ng-class="{'container': currentPageType === 'page'}">
  <div class="center-form" ng-class="{'col-xs-12 col-sm-8 col-xs-offset-0 col-sm-offset-2': currentPageType === 'page'}">
    <div class="panel-heading clearfix">      
        <a data-dismiss="modal" ng-click="modalClose($event)" class="modalClose float-right">X</a>      
    </div>
    <div class="card-body">
      <div class="row text-center">
        <img src="assets/img/siteunderconstruction.jpg" />
      </div>
    </div>
  </div>

</div>
</div>
</div>