
	<div class="container clearfix my-5">
        <div class='bot-space error_content text-center'>
            <div class="error-message">
                <figure>
                    <img src="assets/img/404page.png" alt="[Image: 404 Page]" class="img-fluid center-block">
                </figure>
                <h3 class="bot-space"><strong class="greenc">{{'Sorry'|translate}}!</strong> <span class="text-24">{{'The page you requested was not found...' | translate}}</span></h3>
                <p>{{'Unfortunately the file you were looking for was not found on this site. Please make sure you followed the correct link. If you believe you got this message in error, please notify us so we can fix it. Thank you!' | translate}}</p>
            </div>
        </div>
    </div>