<div class="well-lg black-modal" ng-class="{'container': currentPageType === 'page'}">
  <div class="row">
    <div class="center-form" ng-class="{'col-xs-12 col-sm-8 col-xs-offset-0 col-sm-offset-2': currentPageType === 'page'}">
      <h3 class="lead text-center alert alert-danger text-primary">{{'COURSE IN PROTECTED MODE'|translate}}.</h3>
      <div class="card-body row">
        <a data-dismiss="modal" ng-click="modalClose($event)" class="modalClose" ng-if="currentPageType === 'modal'"><i class="fa fa-lg fa-times-circle close"></i></a>
        <div class="col-md-offset-1 col-md-10 row">
          <form method="post" name="coursePasswordForm" ng-submit="model.CoursePaswordSubmit(coursePasswordForm.$valid);"
            novalidate>
            <div ng-if='!contentInIframe'>
                <label class="required">{{'Password' | translate}}</label>
              <div class="form-group has-feedback  password-icon" ng-class="{ 'has-error' : ((coursePasswordForm.$submitted || coursePasswordForm.password.$touched) && (coursePasswordForm.password.$pristine || coursePasswordForm.password.$invalid))}">
                <input class="form-control" type="{{model.input_type}}" name="password" ng-model="model.password" placeholder="{{'Password'|translate}}"
                  required>
                  <a href="" ng-mousedown="model.input_type = 'text'" ng-mouseup="model.input_type = 'password'"  ng-mouseleave ="model.input_type = 'password'" class="mdi-18px mdi mdi-eye form-control-feedback"></a>
                <div ng-show="((coursePasswordForm.$submitted || coursePasswordForm.password.$touched) && (coursePasswordForm.password.$pristine || coursePasswordForm.password.$invalid))">
                  <div class="error text-danger" ng-show="(coursePasswordForm.password.$error.required || coursePasswordForm.password.$invalid)">{{'Required' | translate}} </div>
                </div>
              </div>
              <button ng-disabled="disableButton" type="submit" class="btn btn-block btn-primary">{{'Submit'|translate}} <span ng-show="disableButton"><i class="mdi-18px mdi mdi-loading mdi-spin fa-pulse fa-lg"></i></span></button>
              <br/>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div banner position="bottomBanner" ng-if="$root.settings['site.enabled_plugins'].indexOf('Banner') > -1 && currentPageType === 'page'"></div>
</div>