<section class="container pb-3 pt-4 mb-5">
	<div class="row">
		<userprofile-navbar></userprofile-navbar>
		<div class="col-sm-8 col-md-9">
			<div ng-include src="'common/course_loader.tpl.html'" ng-if="model.loading"></div>
			<div class="card" ng-if="!model.loading">
				<div class="card-body">
			      <h3 class="text-default">{{'Account'|translate}}</h3>
			      <p>{{'Edit your account settings and change your password here.'|translate}}</p>
            <form method="post" class="form-horizontal clearfix">
                <div class="form-group has-feedback">
                    <label class="col-md-3 control-label required">{{'Email'|translate}}</label>
                    <div class="col-md-7">
                        <div class="input-group w100p">
                            <div class="form-control">
                                {{'Your email address is' | translate}} <b>{{$root.auth.email}}</b>
                            </div>
                            <a class="input-group-addon edit-handle" href="" ng-click="OpenChangeEmailModal()">
                                <i class="mdi-18px mdi mdi-pencil" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
            <form method="post" class="form-horizontal clearfix" name="changePasswordForm" ng-submit="change_password(changePasswordForm, user)"
                novalidate>
                <div class="form-group has-feedback">
                    <label class="col-md-3 col-sm-3 control-label required">{{'Current Password'|translate}}</label>
                    <div class="col-md-6 col-sm-9" ng-class="{ 'has-error' : (changePasswordForm.$submitted || changePasswordForm.old_password.$touched) && (changePasswordForm.old_password.$invalid || changePasswordForm.old_password.$error.password)}">
                        <input class="form-control input" type="password" name="old_password" ng-model="user.old_password" placeholder="{{'Enter Current Password'|translate}}"
                            required ng-pattern="/^[A-Za-z0-9\d!-\/:-@\[-`{-~\]&]{6,}$/">
                        <span class="ion-key form-control-feedback"></span>
                        <div class="text-danger" ng-if="(changePasswordForm.$submitted || changePasswordForm.old_password.$touched) && (changePasswordForm.old_password.$pristine || changePasswordForm.old_password.$invalid)"
                            ng-messages="changePasswordForm.old_password.$error">
                            <div ng-message="required">{{'Required'|translate}}.</div>
                            <div ng-message="pattern">{{'Password must minimum 6 characters'|translate}}.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="col-md-3 col-sm-3 control-label required">{{'New Password'|translate}}</label>
                    <div class="col-md-6 col-sm-9" ng-class="{ 'has-error' : (changePasswordForm.$submitted || changePasswordForm.new_password.$touched) && (changePasswordForm.new_password.$invalid || changePasswordForm.new_password.$error.password)}">
                        <input class="form-control input" type="password" name="new_password" ng-pattern="/^[A-Za-z0-9\d!-\/:-@\[-`{-~\]&]{6,}$/"
                            ng-model="user.new_password" placeholder="{{'Enter New Password'|translate}}" required>
                        <span class="ion-key form-control-feedback"></span>
                        <div class="text-danger" ng-if="(changePasswordForm.$submitted || changePasswordForm.new_password.$touched) && (changePasswordForm.new_password.$pristine || changePasswordForm.new_password.$invalid)"
                            ng-messages="changePasswordForm.new_password.$error">
                            <div ng-message="required">{{'Required'|translate}}.</div>
                            <div ng-message="pattern">{{'Password must minimum 6 characters'|translate}}.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="col-md-3 col-sm-3 control-label required">{{'Re-type New Password'|translate}}</label>
                    <div class="col-md-6 col-sm-9" ng-class="{ 'has-error' : (changePasswordForm.$submitted || changePasswordForm.confirm_new_password.$touched) && (changePasswordForm.confirm_new_password.$invalid || changePasswordForm.confirm_new_password.$error.password)}">
                        <input class="form-control input" type="password" name="confirm_new_password" ng-pattern="/^[A-Za-z0-9\d!-\/:-@\[-`{-~\]&]{6,}$/"
                            ng-model="user.confirm_new_password" data-match="user.new_password" placeholder="{{'Re-type New Password'|translate}}"
                            required>
                        <span class="ion-key form-control-feedback"></span>
                        <div class="text-danger" ng-if="(changePasswordForm.$submitted || changePasswordForm.confirm_new_password.$touched) && (changePasswordForm.confirm_new_password.$pristine || changePasswordForm.confirm_new_password.$invalid)"
                            ng-messages="changePasswordForm.confirm_new_password.$error">
                            <div ng-message="required">{{'Required'|translate}}.</div>
                            <div ng-message="pattern">{{'Password must minimum 6 characters'|translate}}.
                            </div>
                            <div ng-message="match">{{'Password and confirm password must be same'|translate}}.</div>
                        </div>
                    </div>
                </div>
                <div class="float-right">
                    <label class="sr-only" for="submit">{{'Save'|translate}}</label>
                    <button type="submit" class="btn btn-primary" ng-hide="disableButton" id="submit">{{'Save'|translate}}</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="true" id="user_profile_save" ng-hide="!disableButton">{{'Saving'|translate}} <span><i class="mdi-18px mdi mdi-loading mdi-spin fa-pulse fa-lg"></i></span></button>
                </div>
            </form>


            <div oc-lazy-load='loadSeo'>
                <user-profile-seo></user-profile-seo>
            </div>
			    </div>
			</div>
		</div>
	</div>
</section>
