<div class="container">
  <div class="row">
    <div class="center-form" ng-class="{'col-xs-12 col-sm-8 col-xs-offset-0 col-sm-offset-2': currentPageType === 'page'}">
      <div class="card-body">
        <h3 class="lead text-center text-primary"><strong>{{'Download The Certificate'|translate}} </strong></h3>
        <hr>
        <div class="clearfix">
          <div class="certificate-course">
            <div class="float-right">
            <ul class="nav navbar-nav">
              <!--Download the certificate image Based on Types -->
              <li class="dropdown dropdown-img">
                <a href="" class="btn-ls dropdown-toggle user-img btn btn-primary" data-toggle="dropdown" class="btn btn-primary"> {{'Download' |translate}} <span class="caret"></span></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="" ng-click="model.CreateCertificate('jpg')" title="{{'Download jpg' |translate}}" class="text-muted dropdown-item">{{'Joint Photographic Group'| translate}}(jpg)</a>
                  <a href="" ng-click="model.CreateCertificate('pdf')" title="{{'Download pdf' |translate}}" class="text-muted dropdown-item">{{'Portable Document Format'| translate}} (pdf)</a>
                  <a href="" ng-click="model.CreateCertificate('share')" title="{{'To share' |translate}}" class="text-muted dropdown-item">{{'Share'|translate}}</a>
                  <a href="" ng-click="model.CreateCertificate('view')" title="{{'To View' |translate}}" class="text-muted dropdown-item">{{'View'|translate}}</a>
                </div>
              </li>
            </ul>
            </div>
          </div>
        </div>
        <!--Preview  the certificate image -->
        <div class="certificate-course">
          <div class="panel">
            <img ng-src="{{certificateview_image}}" width="1000px" class="center-block">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
